sentence-transformers==2.2.2
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
langchain_community
langchain_experimental
gunicorn
langchain-google-genai
langchain-huggingface
langchain-core
faiss-cpu
pypdf
python-dotenv
pinecone-client
sentence-transformers
gunicorn
PyPDF2
-e .
